@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: rgb(0, 32, 75);
  color: white;
}
.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}
h3 {
  font-size: 36px;
  font-weight: 700;
}

